@model MunicipalLibrary.ViewModels.AuthorFormViewModel
@{
    ViewBag.Title = "AuthorForm";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Author"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Author.Id);
    <div class="form-group">
        @Html.LabelFor(m => m.Author.Name)
        @Html.TextBoxFor(m => m.Author.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author.Document)
        @Html.TextBoxFor(m => m.Author.Document, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author.Document)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author.Sex)
        @Html.DropDownListFor(m => m.Author.Sex,
            new SelectList(Model.Sex, "Sex"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author.Sex)
    </div>


    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
