@model MunicipalLibrary.ViewModels.BookFormViewModel
@{
    ViewBag.Title = "BookForm";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Book"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Book.Id);
    <div class="form-group">
        @Html.LabelFor(m => m.Book.Title)
        @Html.TextBoxFor(m => m.Book.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Book.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.Subtitle)
        @Html.TextBoxFor(m => m.Book.Subtitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Book.Subtitle)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.Category)
        @Html.DropDownListFor(m => m.Book.Category,
            new SelectList(Model.Category, "Category"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Book.Category)
    </div>


    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
