@model MunicipalLibrary.ViewModels.RentFormViewModel
@{
    ViewBag.Title = "RentForm";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Rent"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Rent.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Rent.RentDate)
        @Html.TextBoxFor(m => m.Rent.RentDate, "{0: dd/MM/yyyy }", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Rent.RentDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rent.ReturnDate)
        @Html.TextBoxFor(m => m.Rent.ReturnDate, "{0: dd/MM/yyyy }", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Rent.ReturnDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rent.Book)
        @Html.DropDownListFor(m => m.Rent.Book,
            new SelectList(Model.Book, "Book"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Book)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rent.Client)
        @Html.DropDownListFor(m => m.Rent.Client,
            new SelectList(Model.Client, "Client"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Client)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
