@model MunicipalLibrary.ViewModels.ClientFormViewModel;
@{
    ViewBag.Title = "ClientForm";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Clients"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name) 
-    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, "{0: dd/MM/yyyy }", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Birthdate)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter) Assinar a NewsLetter
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Client.CivilState)
        @Html.DropDownListFor(m => m.Client.CivilState,
            new SelectList(Model.CivilState, "CivilState"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CivilState)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Client.Sex)
        @Html.DropDownListFor(m => m.Client.Sex,
            new SelectList(Model.Sex, "CivilState"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sex)
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
